* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

.main-view {
    width: 100vw;
    display: flex;
    position: relative;
}

.canvas-container {
    width: 100%;
    position: relative;
}

canvas {
    height: 400px;
    width: 800px;
    border: 4px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 400px;
    height: 512px;
    background-color: green;
    background-image: linear-gradient(green, black);
    color: beige;
    border: 4px solid black;
    margin: 32px;
    padding: 8px;
    border-radius: 10px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 520px;
    width: 100%;
}

.input-container-textbox {
    display: flex;
    align-items: center;
}

.name-input-text {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    margin: 16px;
}

.name-input-elm {
    width: 450px;
    height: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    border: green 2px solid;
    border-radius: 10px;
    background-color: beige;
    font-size: large;
}

.input-error {
    color: red;
    text-align: center;
    font-size: 18px;
}

.name-input-elm:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    background-color: green;
    color: beige;
    font-size: large;
}

.name-input-elm:disabled {
    background-color: darkgreen;
    color: beige;
    border: black 2px solid;
}

.button {
    width: 100px;
    height: 50px;
    margin: 8px;
    font-size: large;
    border-radius: 10px;
    background-color: green;
    color: beige;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    background-color: darkgreen;
    color: beige;
    border: black 2px solid;
    cursor: default;
}

header {
    background-color: green;
    background-image: linear-gradient(green, beige);
    display: flex;
    justify-content: center;
    float: center;
}

.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: green;
    margin-bottom: 0;
}

.instruction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leaderboard {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 8px;
}

#toggleMute {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
}

.toggleMute {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    justify-content: center;
    text-align: center;
}

.social>a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgb(138, 129, 129);
    color: inherit;
    opacity: 0.75;
}

.social>a>img {
    width: 100%;
    height: 100%;
}

a:hover {
    opacity: 0.9;
    animation-name: sizeAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes sizeAnimation {
    0% {
        width: 40px;
        height: 40px
    }
    50% {
        width: 45px;
        height: 45px
    }
    100% {
        width: 40px;
        height: 40px
    }
}